.btn {
  display: block;
  width: 500px;
  height: 90px;
  border-radius: 15px;
  margin: 20px;
  background-color: rgb(76, 144, 118);
  font-size: 30px;
  color: rgb(36, 42, 43);
  
}


.App{
  margin: 25px;
 
}
body{
  background-color: rgb(208, 234, 225);
}